.search-form-2{
    flex-direction: column;
}

.inputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputs p{
    margin: 5px;
}

.btn-div{
    float: right;
}

.header{
    width: 100%;
    text-align: left;
}